* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: Arial, sans-serif;
}

.color-bg-azul {
    background-color: #19222F;
}

.navbar-toggler {
    border-color: white;
    /* Cor da borda do botão */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}



.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4.5rem;
}

.paragrafo-texto-banner-1{
    font-family: 'Open Sans', sans-serif; /* Aplica Open Sans */
    font-size: 1.5rem; /* Ajuste de tamanho opcional */
}
/*
  .hero-section p {
    font-size: 1.2rem;
  } */

.whatsapp-button {
    background-color: #25D366;
    /* cor verde do WhatsApp */
    color: #ffffff;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

.whatsapp-button:hover {
    background-color: #1ebe56;
    /* tom mais escuro ao passar o mouse */
    text-decoration: none;
}

.hero-image {
    max-width: 100%;    
    height: auto;
    border-radius: 10px;
}

.cor-texto-escuro-destaque {
    color: #4B6C87;
}


.color-bg-azul-cinza{
    background-color:#2F4059 ;
}

.h2-texto {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;    
}

.h2-texto-cor {
    color: #ffffff;
}

.h1-texto-section-about{
    font-family: 'Poppins', sans-serif;
    font-size: 4.2rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 20px;
}

.paragrafo-texto-banner-2{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
}

.h2-texto-vantagens{
    font-family: 'Poppins', sans-serif;
    font-size: 2.3rem;
    font-weight: 700;  
}